<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>
    
    <section class="main-container">
        <div class="sidebar">
            <div class="sidebar-container">
                <div class="profile">
                    <div class="img-container">
                        <img class="current-profile-pic" src="/images/bottom right.png" alt="">
                    </div>

                    <div class="details-container">
                        <p class="details name">Charles</p>
                        <p class="details username">charles_dgaf</p>
                        <p class="details password">charles_dgaf123</p>
                    </div>
                </div>

                <div class="info">
                    <h4>Number of Tests Taken</h4>
                    <p class="no-of-tests-taken">2</p>
                    <h4>Current Aggregate</h4>
                    <p class="current-aggregate">1.5</p>
                    <h4>Current Level</h4>
                    <p class="current-level">Rookie</p>
                </div>

                <div class="settings">
                    <h4 class="my-profile-link">My Profile</h4>
                    <h4 class="take-a-test-link">Take A Test</h4>
                    <h4 class="log-out-link">Log Out</h4>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="main-div-container">
                <div class="begin-test">
                    <img src="/images/top left.png" alt="">

                    <button class="begin-test-btn">
                        Begin Test
                    </button>
                </div>

                <div class="progress-bar">
                    <div class="progress"></div>
                </div>

                <div class="question-container">
                    <div class="timer">05:00</div>
                    <div class="number">25</div>
                    <h2 class="question">
                        What is the fastest bird on land? 
                    </h2>
                </div>

                <div class="options-container" style="height: 256px;">
                    <div class="overlay"></div>
                    <label for="opt1" class="options right">
                        <span>Ostrich</span>
                        <input type="radio" name="options" value="Ostrich" id="opt1">
                    </label>
                    <label for="opt2" class="options">
                        <span>Ostrich</span>
                        <input type="radio" name="options" value="Ostrich" id="opt2">
                    </label>
                    <label for="opt3" class="options">
                        <span>Ostrich</span>
                        <input type="radio" name="options" value="Ostrich" id="opt3">
                    </label>
                    <label for="opt4" class="options">
                        <span>Ostrich</span>
                        <input type="radio" name="options" value="Ostrich" id="opt4">
                    </label>
                    
                </div>

                <div class="buttons">
                     <button class="prev-question">Previous</button>
                     <button class="next-question">Next</button>
                </div>
            </div>
        </div>
    </section>

    <!-- <script src="/js/entities.js"></script> -->
    <!-- <script src="/js/sidebar.js"></script> -->
    <!-- <script src="/js/test.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/pages/quiz.js" type="module"></script>

</body>
</html>